<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no" />
  <title><!--__TITLE__--></title>
  <style>
    :root { color-scheme: dark; }
    *, *::before, *::after { box-sizing: border-box; }
    html, body { height: 100%; margin: 0; }
    body {
      font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
    }
  </style>
  <!--__HEAD__-->
</head>
<body class="layout-vertical">
  <!--__BODY__-->
  <script type="module">
  /*__SCRIPT__*/
  </script>
</body>
</html>
